<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body> 
     <center>
        <!-- <h1>conditions</h1>
        {{a}} -->

        <!-- {% if a > 10 %}
            <h1>It is true</h1>
        {% endif %} -->
        
        <!-- {% if a > 10 %}
            <h1>Positive</h1>
        {% else %}
            <h1>Negative</h1>
        {% endif %} -->

        <!-- {% if a > 16 %}
            <h1>{{name}} is teenage</h1>
        {% elif a > 18 %}
            <h1>{{name}} is eligilable for voting</h1>
        {% else %}
            <h1>{{name}} not eligilable for voting</h1>
        {% endif %} -->

        {% for val in name %}
            <h1>{{val}}</h1>
        {% endfor %} 
        
     </center>
</body>
</html>